body {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.right {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}